@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    font-family: 'Poppins', sans-serif;
}

.project-list-item {
    transition: 0.4s all ease;
    cursor: pointer;
}

.project-list-item:hover {
    box-shadow: 2px 2px 2px 2px rgb(210, 210, 210);;
}


.project-list-container::-webkit-scrollbar {
        display: none;
}


.sidebar-project-list {
    transition: 0.3s all ease;
}

.sidebar-project-list:hover {
    color: red;
}

.grid-display-scroll-none::-webkit-scrollbar {
    display: none;
}

.feed-card{
    transition: all 0.4s ease;
    cursor: pointer;
}

.feed-card:hover {
    box-shadow: 3px 3px 6px rgb(215, 215, 215);
}